.bgc-blue {
    background-color: rgb(44, 44, 168);
}

.c-white {
    color:white;
}

.d-f {
    display: flex;
}

.d-n {
    display: none;
}

.f-d-c {
    flex-direction: column;
}

.f-d-r {
    flex-direction: row;
}

.m-a {
    margin: auto;
}

.m-10px {
    margin: 10px;
}

.p-10px {
    padding: 10px;
}

.p-20px {
    padding: 20px;
}

.b-s {
    border:solid;
}

.j-c-c {
    justify-content: center;
}

.j-c-sb {
    justify-content: space-between;
}

.danger {
    background-color: red;
    color: white;
    width: 12%;
}

.good {
    background-color: green;
    color: white;
    width: 12%;
}

.moderate {
    background-color: yellow;
    width: 12%;
}

